HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

hs_err_pid*
/.idea/
*.iml
/classworlds/classworlds/
/commons-codec/commons-codec/1.11/
/commons-collections/commons-collections/3.2.2/
/junit/junit/4.12/
/us/codecraft/
/tk/mybatis/
/asm/
/commons-cli/commons-cli/1.2/
/backport-util-concurrent/backport-util-concurrent/3.1/
/cn/hutool/
/commons-beanutils/commons-beanutils/1.9.3/
/log4j/log4j/1.2.12/
/org/
/commons-logging/commons-logging-api/1.1/
/mysql/mysql-connector-java/5.1.47/
/commons-io/commons-io/
/redis/clients/jedis/2.9.1/
/net/
/io/
/me/zhyd/
/eu/bitwalker/UserAgentUtils/1.20/
/javax/
/ch/qos/logback/
/com/
/aopalliance/aopalliance/1.0/
/jakarta/
/commons-logging/
